h1 {
  font-family: Cookbook Title;
  color: Orange;
  font-size: 50px;
}

h4 {
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
}

.copyright {
  font-family: Arial;
  color: green;
  font-size: 9px;
  font-style: italic;
}

#ingredients {
  font-family: Hurson;
  color: brown;
  font-size: 20px;
}

#equipment {
  font-family: Hurson;
  color: brown;
  font-size: 20px;
}

#directions {
  font-family: Hurson;
  color: brown;
  font-size: 20px;
}