h1 {
<<<<<<< HEAD
  font-family: Cookbook Title;
  color: Orange;
  font-size: 50px;
=======
  font-family: Times New Roman;
  color: purple;
>>>>>>> b0e11577923dbc5759d545fe2cc141ba38d7a04d
}

h4 {
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
}

.copyright {
  font-family: Arial;
  color: green;
  font-size: 9px;
  font-style: italic;
}

#ingredients {
  font-family: Hurson;
  color: brown;
  font-size: 20px;
}

#equipment {
  font-family: Hurson;
  color: brown;
  font-size: 20px;
}

#directions {
  font-family: Hurson;
  color: brown;
  font-size: 20px;
}