h1 {
  font-family: Cookbook Title;
  color: Orange;
  font-size: 50px;
}

h4 {
  margin-bottom: 10px;
  font-size: 25px;
  font-family: Hurson;
}

ul, ol {
  margin-top: 0;
}

.copyright {
  font-family: Arial;
  color: green;
  font-size: 12px;
  font-style: italic;
}

#ingredients {
  font-family: Calibri;
  color: brown;
  font-size: 20px;
}

#equipment {
  font-family: Calibri;
  color: brown;
  font-size: 20px;
}

#directions {
  font-family: Calibri;
  color: brown;
  font-size: 20px;
}

.pasta {
  font-weight: bold;
}

.lastdirection {
  font-style: italic;
}

.strainer {
  font-style: oblique;
}